* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kalam', cursive;
  

}


body {

  
  background-image: url("../image/capsbg2.jpeg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  height: 100%;

}

#landing-jumbo {

  background-image: url("../image/capsbg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  height: 80vh;
  align-items: center;
  text-align: center;
  color: #fff;


}


#workBtn {
 
  margin: 50px 30px auto;
  color: #000000;

}

#workBtn:hover {

  background-color: #000000;
  color: #fbb117;

}


h1, h2 {
  font-family: 'Permanent Marker', cursive;
}


#main-section {

  padding-bottom: 40px;
  overflow: hidden;

}

#profilePic {

  
  display: block;
  border-radius: 50%;
  border: 1px solid black;

  height: 30vh;
  width: 30vh;


}

h2 {
  padding: 30px;
  border-radius: 10px;
  background-color: #fbb117;
  margin-top: 10vh;
  margin-bottom: 20vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;

}

#skillset {

  align-items: center;
  text-align: center;
  margin-bottom: 150px;
}

#firstrow {
  padding: 10px;
  border-radius: 10px;
  background-color: #fbb117;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
}


.programs {

  height: 100px;
  margin-top: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

#html {background-image: url("../image2/html.gif");}

#css {background-image: url("../image2/css.gif");}

#js {background-image: url("../image2/js.gif");}

#gitlab {background-image: url("../image2/gitlab.gif");}

#google {background-image: url("../image2/google2.gif");}

#sublime {background-image: url("../image2/sublime.gif");}



#secondrow {

  padding: 10px;
  border-radius: 10px;
  background-color: #fbb117;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
}

#submitbtn {

  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

#visit  {

  padding: 10px;
  border-radius: 10px;
  background-color: #fbb117;
  margin: auto;
  text-align: center;
  align-items: center;
  color: #000000;

}

#gmapsdiv {
  
  margin-top: 50px;
  text-align: center;
  align-content: center;
}

#gmaps {
  
  width: 40vw;
  height: 30vh;
  margin: auto;
}

footer {

  text-align: center;
  align-content:  center; 
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 5px;
  color: #fbb117;
  background-color: #000000;


}

footer >p {

  margin: 0;
  padding: 10px;
}

#modaltrial {

  padding: auto;
  margin-bottom: 30vh;
  align-items: center;
  align-content: center;
}

#modaldiv {

  align-items: center;
  text-align: justify;
  margin-bottom: 30px;
}

#project1 {
  width: 100%;
 align-items: center;
  align-content: center;
}

#project2 {
  width: 100%;
 align-items: center;
  align-content: center;
}

#project3 {
  width: 100%;
  align-items: center;
  align-content: center;
}

.btn {
  background-color: #fbb117;
  padding: 10px 20px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #000000;
  color: #fbb117;
}

#visitBtn {

  padding: auto;
  font-size: 20px;

}

#closebtn {

  padding: auto;
  font-size: 20px;

}



#fontawesome {

  align-items: center;
  align-content: center;
  margin: auto;
}

.fab {

  
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;

}

.fab:hover {

  background-color: #000000;
  color: #fbb117;
}
